---
import BaseLayout from "../layouts/BaseLayout.astro";
//Componentes
import Header from "../layouts/Header.astro"
import Body from "../layouts/Body.astro"
import Footer from "../layouts/Footer.astro"

//Estilos
---
<BaseLayout>
	<Header></Header>
	<Body></Body>
	<Footer></Footer>
</BaseLayout>